@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%2304006F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23000139'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-120.75 -28.4) rotate(-32.75 1409 581) scale(0.7202999999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-279 129) rotate(-11.3 800 450) scale(0.9642499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-43.9 63) rotate(-163 401 736) scale(0.9642499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(774 48.4) rotate(-12.1 150 345) scale(1.0681)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(34 -372.5) rotate(-255.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-214 18) rotate(-42.6 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.batTopHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.BatBottemHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.batArt {
  background-color: rgba(15, 15, 15, 0.99);
  -webkit-box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
  height: 40rem;
  width: 30rem;
  border-radius: 0.75rem;
}

.batHead1 {
  text-align: center;
  color: white;
  font-family: Batman;
  margin-top: 1rem;
}

.BatMini1 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  border-bottom: white 3px solid;
}

.BatInfoHold1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.BatInfo1 {
  font-size: 1.2rem;
}

.break {
  background-color: white;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.iframe {
  width: 55rem;
  height: 30rem;
  border-radius: 0.75rem;
}

.batHead2 {
  position: relative;
  bottom: 6rem;
  background-color: rgba(15, 15, 15, 0.99);
  height: 46rem;
  width: 53em;
  border-radius: 0.75rem;
}

.batIMG {
  margin-top: 4rem;
  height: 35rem;
  width: 25rem;
  border-radius: 0.75rem;
}

.BatAges {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.BatAgeListHead1 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead2 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead3 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead4 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead1:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead2:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead3:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead4:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatFamListHead1 {
  color: white;
  text-align: center;
  margin-bottom: 0.3rem;
}

.BatCharList {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.BatlistCharacters {
  height: 100%;
  border: 3px white solid;
}

.Charhold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.Character {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #010055 solid;
}

.CharacterOrigin {
  color: white;
  text-align: center;
  border-top: 2px #010055 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #010055 solid;
}

.CharacterOrigin1 {
  color: white;
  text-align: center;
  border-top: 2px #010055 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #00aeff solid;
}

.CharacterOrigin2 {
  color: white;
  text-align: center;
  border-top: 2px #00aeff solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character3 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #850000 solid;
}

.CharacterOrigin3 {
  color: white;
  text-align: center;
  border-top: 2px #850000 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character4 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #fbff00 solid;
}

.CharacterOrigin4 {
  color: white;
  text-align: center;
  border-top: 2px #fbff00 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character5 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #9900ff solid;
}

.CharacterOrigin5 {
  color: white;
  text-align: center;
  border-top: 2px #9900ff solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character6 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px red solid;
}

.CharacterOrigin6 {
  color: white;
  text-align: center;
  border-top: 2px red solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character7 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px lightgray solid;
}

.CharacterOrigin7 {
  color: white;
  text-align: center;
  border-top: 2px lightgray solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character8 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px red solid;
}

.CharacterOrigin8 {
  color: white;
  text-align: center;
  border-top: 2px red solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character9 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #009bd8 solid;
}

.CharacterOrigin9 {
  color: white;
  text-align: center;
  border-top: 2px #009bd8 solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Character10 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #00ffbf solid;
}

.CharacterOrigin10 {
  color: white;
  text-align: center;
  border-top: 2px #00ffbf solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.CharacterHolder:hover {
  -webkit-box-shadow: #010055 1px 1px 2px 2px;
          box-shadow: #010055 1px 1px 2px 2px;
}

.CharacterHolder1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder1:hover {
  -webkit-box-shadow: #000872 1px 1px 2px 2px;
          box-shadow: #000872 1px 1px 2px 2px;
}

.CharacterHolder2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder2:hover {
  -webkit-box-shadow: #00aeff 1px 1px 2px 2px;
          box-shadow: #00aeff 1px 1px 2px 2px;
}

.CharacterHolder3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder3:hover {
  -webkit-box-shadow: #850000 1px 1px 2px 2px;
          box-shadow: #850000 1px 1px 2px 2px;
}

.CharacterHolder4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder4:hover {
  -webkit-box-shadow: #fbff00 1px 1px 2px 2px;
          box-shadow: #fbff00 1px 1px 2px 2px;
}

.CharacterHolder5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder5:hover {
  -webkit-box-shadow: #9900ff 1px 1px 2px 2px;
          box-shadow: #9900ff 1px 1px 2px 2px;
}

.CharacterHolder6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder6:hover {
  -webkit-box-shadow: red 1px 1px 2px 2px;
          box-shadow: red 1px 1px 2px 2px;
}

.CharacterHolder7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder7:hover {
  -webkit-box-shadow: lightgray 1px 1px 2px 2px;
          box-shadow: lightgray 1px 1px 2px 2px;
}

.CharacterHolder8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder8:hover {
  -webkit-box-shadow: red 1px 1px 2px 2px;
          box-shadow: red 1px 1px 2px 2px;
}

.CharacterHolder9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder9:hover {
  -webkit-box-shadow: #009bd8 1px 1px 2px 2px;
          box-shadow: #009bd8 1px 1px 2px 2px;
}

.CharacterHolder10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.CharacterHolder10:hover {
  -webkit-box-shadow: #00ffbf 1px 1px 2px 2px;
          box-shadow: #00ffbf 1px 1px 2px 2px;
}

.CharacterIMG {
  margin-left: auto;
  border-radius: 0.75rem;
  margin-right: auto;
  display: block;
  height: 34rem;
  width: 35rem;
  margin-top: 2rem;
}

.CharacterHero {
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-family: Batman;
}

.CharacterHero:hover {
  font-size: 2.8rem;
}

.CharacterName {
  color: white;
  text-align: center;
}

.Origin {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.whowhowho {
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.CharacterMeasurement {
  text-align: left;
  margin-left: 0.6rem;
  color: white;
}

.Measurments1 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #010055 solid;
}

.Measurments2 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #00aeff solid;
}

.Measurments3 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #850000 solid;
}

.Measurments4 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #fbff00 solid;
}

.Measurments5 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #9900ff solid;
}

.Measurments6 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px red solid;
}

.Measurments7 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px lightgray solid;
}

.Measurments8 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px red solid;
}

.Measurments9 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #009bd8 solid;
}

.Measurments10 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #00ffbf solid;
}

.CharacterVillains {
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.BatVillains {
  text-align: center;
  color: white;
}

.Villains1 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #010055 solid;
}

.Villains2 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #00aeff solid;
}

.Villains3 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #850000 solid;
}

.Villains4 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #fbff00 solid;
}

.Villains5 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #9900ff solid;
}

.Villains6 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px red solid;
}

.Villains7 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px lightgray solid;
}

.Villains8 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px red solid;
}

.Villains9 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #009bd8 solid;
}

.Villains10 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #00ffbf solid;
}

.SkillsHolder {
  border: 1px #0053b3 solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #0053b3 solid;
}

.SkillsHolder1 {
  border: 1px #010055 solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #010055 solid;
}

.SkillsHolder2 {
  border: 1px #00aeff solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #00aeff solid;
}

.SkillsHolder3 {
  border: 1px #850000 solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #850000 solid;
}

.SkillsHolder4 {
  border: 1px #fbff00 solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader4 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #fbff00 solid;
}

.SkillsHolder5 {
  border: 1px #9900ff solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader5 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #9900ff solid;
}

.SkillsHolder6 {
  border: 1px red solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader6 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px red solid;
}

.SkillsHolder7 {
  border: 1px lightgray solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader7 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px lightgray solid;
}

.SkillsHolder8 {
  border: 1px red solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px red solid;
}

.SkillsHolder9 {
  border: 1px #009bd8 solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader9 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #009bd8 solid;
}

.SkillsHolder10 {
  border: 1px #00ffbf solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader10 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #00ffbf solid;
}

.CharacterSkills {
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-top: 0.3rem;
  margin-right: auto;
}

.imgVillain {
  height: 10rem;
  width: 8rem;
}

.Btn-link {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 3rem;
  width: 12rem;
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

.Btn-link:hover {
  -webkit-box-shadow: white 1px 1px 2px;
          box-shadow: white 1px 1px 2px;
}

.btn-Text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.Members {
  margin-top: -3rem;
  text-align: center;
  color: white;
  font-size: 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0.75rem;
  font-family: Batman;
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 400px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.75rem;
  -webkit-box-shadow: white 1px 1px 1px 1px;
          box-shadow: white 1px 1px 1px 1px;
}

.slideshow-title {
  font-family: 'Allerta Stencil';
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-animation: rotar 15s infinite linear;
          animation: rotar 15s infinite linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.content-carrousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(300px);
          transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(300px);
          transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(300px);
          transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(300px);
          transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(300px);
          transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(300px);
          transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(300px);
          transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(300px);
          transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(300px);
          transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  -webkit-transform: rotateY(360deg) translateZ(300px);
          transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
          box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
  height: 22rem;
}

.content-carrousel img {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

@-webkit-keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.Live-Movie-HEAD {
  text-align: center;
  color: white;
  font-family: Batman;
  margin-bottom: 1rem;
}

.Movie-DIV-HOLDER {
  margin-bottom: 2rem;
}

.TV-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.TV-Holder {
  border-radius: 0.75rem;
  width: 20rem;
  height: 30rem;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px white solid;
}

.TV-image {
  margin-top: 1.5rem;
  height: 15rem;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: white 1px solid;
  display: block;
}

.TV-title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
  color: white;
  border-bottom: white 1px solid;
  font-size: 1.4rem;
}

.TV-Year {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.Television-Bat-Header {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: Batman;
  border-bottom: 1px solid white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.TV-description {
  text-align: center;
  color: white;
}

.TV-Header {
  text-align: center;
  color: white;
  font-family: Batman;
  font-size: 3rem;
  border-bottom: white 1px solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Games {
  background-color: black;
  opacity: 0.8;
  border-radius: 0.75rem;
  height: 43rem;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  -webkit-box-shadow: #4b4b4b 2px 2px 2px 2px;
          box-shadow: #4b4b4b 2px 2px 2px 2px;
}

.Game-IMG {
  width: 31rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.75rem;
  position: relative;
  top: 1rem;
  opacity: 1;
  border: #252525 1px solid;
}

.Game-NAME {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 3px white solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.Game-NAME:hover {
  font-size: 3rem;
}

.Game-CREATORS {
  text-align: center;
  color: white;
}

.Game-DESCRIPTION {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.Game-NEXT {
  position: absolute;
  left: 64rem;
  top: 73rem;
  height: 2rem;
  width: 3rem;
  border-radius: 0.75rem;
}

.Game-PREV {
  position: absolute;
  left: 28rem;
  top: 73rem;
  height: 2rem;
  width: 3rem;
  border-radius: 0.75rem;
}

.Game-SERIES {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.ArkhamHeader {
  text-align: center;
  color: white;
  font-size: 4rem;
}

.banner {
  border-top: 3px white groove;
  border-bottom: 3px white groove;
  width: 100%;
  height: 35rem;
  margin-top: 1rem;
}

.Navbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: Batman;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.nav {
  font-weight: lighter;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  text-align: center;
  color: white;
  width: 80%;
  font-family: Batman;
  border-bottom: solid white 3px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  -webkit-text-decoration: underline wavy #c5c5c5;
          text-decoration: underline wavy #c5c5c5;
}

.link:active {
  color: yellow;
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: black;
  border-top: 1px solid white;
}

.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.FootCon {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
}

.FootCon1 {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootSoc {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
}

.FootSocial1 {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootLinks {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  color: white;
}

.FootNav1 {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
  color: white;
}

.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.FootLinks:hover {
  font-size: 1.3rem;
}

.FootSoc:hover {
  font-size: 1.3rem;
}

.FootCon:hover {
  font-size: 1.2rem;
}

.FootLinks:active {
  color: yellow;
}

.FootSoc:active {
  color: yellow;
}

.FootCon:active {
  color: yellow;
}

.css-slideshow {
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}

.css-slideshow figure {
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}

.css-slideshow img {
  -webkit-box-shadow: 0 0 2px #666;
          box-shadow: 0 0 2px #666;
}

.css-slideshow figcaption {
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.css-slideshow:hover figure figcaption {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 1;
}

.css-slideshow-attr {
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin: 0 auto;
}

.css-slideshow-attr a {
  color: #666;
}

.css-slideshow figure {
  opacity: 0;
}

figure:nth-child(1) {
  -webkit-animation: xfade 48s 42s infinite;
          animation: xfade 48s 42s infinite;
}

figure:nth-child(2) {
  -webkit-animation: xfade 48s 36s infinite;
          animation: xfade 48s 36s infinite;
}

figure:nth-child(3) {
  -webkit-animation: xfade 48s 30s infinite;
          animation: xfade 48s 30s infinite;
}

figure:nth-child(4) {
  -webkit-animation: xfade 48s 24s infinite;
          animation: xfade 48s 24s infinite;
}

figure:nth-child(5) {
  -webkit-animation: xfade 48s 18s infinite;
          animation: xfade 48s 18s infinite;
}

figure:nth-child(6) {
  -webkit-animation: xfade 48s 12s infinite;
          animation: xfade 48s 12s infinite;
}

figure:nth-child(7) {
  -webkit-animation: xfade 48s 6s infinite;
          animation: xfade 48s 6s infinite;
}

figure:nth-child(8) {
  -webkit-animation: xfade 48s 0s infinite;
          animation: xfade 48s 0s infinite;
}

@-webkit-keyframes xfade {
  0% {
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes xfade {
  0% {
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Batman;
  src: url("../Fonts/Batman.ttf");
}
/*# sourceMappingURL=index.css.map */