@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%2304006F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23000139'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-120.75 -28.4) rotate(-32.75 1409 581) scale(0.7202999999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-279 129) rotate(-11.3 800 450) scale(0.9642499999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-43.9 63) rotate(-163 401 736) scale(0.9642499999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(774 48.4) rotate(-12.1 150 345) scale(1.0681)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(34 -372.5) rotate(-255.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-214 18) rotate(-42.6 1400 132) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.batArt {
  position: absolute;
  left: 3rem;
  top: 47rem;
  background-color: rgba(15, 15, 15, 0.99);
  -webkit-box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: inset, 0 0px 15px rgba(0, 0, 0, 0.8) 0 0px 15px rgba(0, 0, 0, 0.8);
  height: 40rem;
  width: 30rem;
  border-radius: 0.75rem;
}

.batHead1 {
  text-align: center;
  color: white;
  font-family: Batman;
  margin-top: 1rem;
}

.BatMini1 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  border-bottom: white 3px solid;
}

.BatInfoHold1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 1rem;
  text-align: center;
  color: white;
}

.BatInfo1 {
  font-size: 1.2rem;
}

.break {
  background-color: white;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.iframe {
  position: absolute;
  right: 3rem;
  top: 47rem;
  width: 55rem;
  height: 30rem;
  border-radius: 0.75rem;
}

.batHead2 {
  position: absolute;
  right: 3rem;
  top: 80rem;
  background-color: rgba(15, 15, 15, 0.99);
  height: 46rem;
  width: 53em;
  border-radius: 0.75rem;
}

.batIMG {
  height: 35rem;
  width: 25rem;
  position: absolute;
  top: 90rem;
  border-radius: 0.75rem;
  left: 5rem;
}

.BatAges {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.BatAgeListHead1 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead2 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead3 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead4 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}

.BatAgeListHead1:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead2:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead3:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatAgeListHead4:hover {
  font-size: 1.3rem;
  font-weight: bold;
}

.BatFamListHead1 {
  color: white;
  text-align: center;
  margin-bottom: 0.3rem;
}

.BatCharList {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.BatlistCharacters {
  height: 100%;
  border: 3px white solid;
}

.Charhold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.Character {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px #0077ff solid;
}

.CharacterHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 43rem;
  height: 68rem;
  background-color: #0e0e0e;
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 1.3rem;
  -webkit-box-shadow: white 1px 1px 1px 1px;
          box-shadow: white 1px 1px 1px 1px;
}

.CharacterIMG {
  margin-left: auto;
  border-radius: 0.75rem;
  margin-right: auto;
  display: block;
  height: 30rem;
  width: 35rem;
  margin-top: 0rem;
}

.CharacterHero {
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.CharacterHero:hover {
  font-size: 3.4rem;
}

.CharacterName {
  color: white;
  text-align: center;
}

.CharacterOrigin {
  color: white;
  text-align: center;
  border-top: 2px #0077ff solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Origin {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.whowhowho {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  border-bottom: 1px #0077ff solid;
}

.CharacterMeasurement {
  text-align: left;
  margin-left: 0.6rem;
  color: white;
}

.Measurments {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #0077ff solid;
}

.CharacterVillains {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  border-bottom: 1px #0077ff solid;
}

.BatVillains {
  text-align: center;
  color: white;
}

.Villains {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px #0077ff solid;
}

.SkillsHolder {
  border: 1px #0077ff solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsHeader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px #0077ff solid;
}

.CharacterSkills {
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-top: 0.3rem;
  margin-right: auto;
}

.imgVillain {
  height: 10rem;
  width: 8rem;
}

.Btn-link {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 3rem;
  width: 12rem;
  border-radius: 0.75rem;
  background-color: rgba(0, 119, 255, 0.8);
}

.btn-Text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.Members {
  margin-top: -3rem;
  text-align: center;
  color: #0077ff;
  font-size: 6rem;
  border-bottom: solid white 2px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  border-top: 3px white groove;
  border-bottom: 3px white groove;
  width: 100%;
  height: 35rem;
  margin-top: 1rem;
}

.Navbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: Batman;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.nav {
  font-weight: lighter;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  text-align: center;
  color: white;
  width: 80%;
  font-family: Batman;
  border-bottom: solid white 3px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  -webkit-text-decoration: underline wavy #c5c5c5;
          text-decoration: underline wavy #c5c5c5;
}

.link:active {
  color: yellow;
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: black;
  border-top: 1px solid white;
}

.footerHolder {
  margin-left: 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.FootCon {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
}

.FootCon1 {
  color: white;
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootSoc {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
}

.FootSocial1 {
  font-size: 1rem;
  font-family: Batman;
  color: white;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
}

.FootLinks {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  color: white;
}

.FootNav1 {
  font-size: 1rem;
  font-family: Batman;
  text-align: center;
  border-bottom: solid white 2px;
  margin-bottom: 0.5rem;
  color: white;
}

.footerIMG {
  width: 80%;
  height: 20rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.FootLinks:hover {
  font-size: 1.3rem;
}

.FootSoc:hover {
  font-size: 1.3rem;
}

.FootCon:hover {
  font-size: 1.2rem;
}

.FootLinks:focus {
  color: yellow;
}

.FootSoc:active {
  color: yellow;
}

.FootCon:active {
  color: yellow;
}

@font-face {
  font-family: Batman;
  src: url("../Fonts/Batman.ttf");
}
/*# sourceMappingURL=index.css.map */