$clr-Blue: rgb(0, 83, 179);
$Clr-One: rgb(1, 0, 85);
$Clr-two: rgb(0, 174, 255);
$Clr-three: rgb(133, 0, 0);
$Clr-four: rgb(251, 255, 0);
$Clr-five: rgb(153, 0, 255);
$Clr-six: rgb(255, 0, 0);
$Clr-seven: rgb(211, 211, 211);
$Clr-eight: rgb(255, 0, 0);
$Clr-nine: rgb(83, 0, 0);
$Clr-ten: rgb(0, 255, 191);
.Charhold {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.Character {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-One solid;
}
.CharacterOrigin {
  color: white;
  text-align: center;
  border-top: 2px $Clr-One solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character1 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-One solid;
}
.CharacterOrigin1 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-One solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-two solid;
}
.CharacterOrigin2 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-two solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character3 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-three solid;
}
.CharacterOrigin3 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-three solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character4 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-four solid;
}
.CharacterOrigin4 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-four solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character5 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-five solid;
}
.CharacterOrigin5 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-five solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character6 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-six solid;
}
.CharacterOrigin6 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-six solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character7 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-seven solid;
}
.CharacterOrigin7 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-seven solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character8 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-eight solid;
}
.CharacterOrigin8 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-eight solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character9 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-nine solid;
}
.CharacterOrigin9 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-nine solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Character10 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  border: 1px $Clr-ten solid;
}
.CharacterOrigin10 {
  color: white;
  text-align: center;
  border-top: 2px $Clr-ten solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.CharacterHolder:hover {
  box-shadow: rgb(1, 0, 85) 1px 1px 2px 2px;
}
.CharacterHolder1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder1:hover {
  box-shadow: rgb(0, 8, 114) 1px 1px 2px 2px;
}
.CharacterHolder2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder2:hover {
  box-shadow: rgb(0, 174, 255) 1px 1px 2px 2px;
}
.CharacterHolder3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder3:hover {
  box-shadow: rgb(133, 0, 0) 1px 1px 2px 2px;
}
.CharacterHolder4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder4:hover {
  box-shadow: rgb(251, 255, 0) 1px 1px 2px 2px;
}
.CharacterHolder5 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder5:hover {
  box-shadow: rgb(153, 0, 255) 1px 1px 2px 2px;
}
.CharacterHolder6 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder6:hover {
  box-shadow: rgb(255, 0, 0) 1px 1px 2px 2px;
}
.CharacterHolder7 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder7:hover {
  box-shadow: rgb(211, 211, 211) 1px 1px 2px 2px;
}
.CharacterHolder8 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder8:hover {
  box-shadow: rgb(255, 0, 0) 1px 1px 2px 2px;
}
.CharacterHolder9 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder9:hover {
  box-shadow: rgb(83, 0, 0) 1px 1px 2px 2px;
}
.CharacterHolder10 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45vw;
  height: 175vh;
  background-color: rgb(14, 14, 14);
  border-radius: 0.75rem;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.CharacterHolder10:hover {
  box-shadow: rgb(0, 255, 191) 1px 1px 2px 2px;
}
.CharacterIMG {
  margin-left: auto;
  border-radius: 0.75rem;
  margin-right: auto;
  display: block;
  height: 34rem;
  width: 35rem;
  margin-top: 2rem;
}
.CharacterHero {
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-family: Batman;
}
.CharacterHero:hover {
  font-size: 2.8rem;
}
.CharacterName {
  color: white;
  text-align: center;
}

.Origin {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}
.whowhowho {
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
.CharacterMeasurement {
  text-align: left;
  margin-left: 0.6rem;
  color: white;
}
.Measurments1 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-One solid;
}
.Measurments2 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-two solid;
}
.Measurments3 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-three solid;
}
.Measurments4 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-four solid;
}
.Measurments5 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-five solid;
}
.Measurments6 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-six solid;
}
.Measurments7 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-seven solid;
}
.Measurments8 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-eight solid;
}
.Measurments9 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-nine solid;
}
.Measurments10 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-ten solid;
}
.CharacterVillains {
  text-align: center;
  color: white;
  font-size: 1.6rem;
}
.BatVillains {
  text-align: center;
  color: white;
}
.Villains1 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-One solid;
}
.Villains2 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-two solid;
}
.Villains3 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-three solid;
}
.Villains4 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-four solid;
}
.Villains5 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-five solid;
}
.Villains6 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-six solid;
}
.Villains7 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-seven solid;
}
.Villains8 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-eight solid;
}
.Villains9 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-nine solid;
}
.Villains10 {
  width: 17rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  border: 1px $Clr-ten solid;
}
.SkillsHolder {
  border: 1px $clr-Blue solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $clr-Blue solid;
}
.SkillsHolder1 {
  border: 1px $Clr-One solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-One solid;
}
.SkillsHolder2 {
  border: 1px $Clr-two solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-two solid;
}
.SkillsHolder3 {
  border: 1px $Clr-three solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-three solid;
}
.SkillsHolder4 {
  border: 1px $Clr-four solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader4 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-four solid;
}
.SkillsHolder5 {
  border: 1px $Clr-five solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader5 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-five solid;
}
.SkillsHolder6 {
  border: 1px $Clr-six solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader6 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-six solid;
}
.SkillsHolder7 {
  border: 1px $Clr-seven solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader7 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-seven solid;
}
.SkillsHolder8 {
  border: 1px $Clr-eight solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-eight solid;
}
.SkillsHolder9 {
  border: 1px $Clr-nine solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader9 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-nine solid;
}
.SkillsHolder10 {
  border: 1px $Clr-ten solid;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SkillsHeader10 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px $Clr-ten solid;
}
.CharacterSkills {
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-top: 0.3rem;
  margin-right: auto;
}
.imgVillain {
  height: 10rem;
  width: 8rem;
}
.Btn-link {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 3rem;
  width: 12rem;
  border-radius: 0.75rem;
  background-color: hsla(212, 100%, 50%, 0.8);
  box-shadow: inset $dark-shadow, $dark-shadow;
}
.btn-Text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.Members {
  margin-top: -3rem;
  text-align: center;
  color: white;
  font-size: 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 0%, 0.9);
  border-radius: 0.75rem;
  font-family: Batman;
  box-shadow: inset $dark-shadow, $dark-shadow;
}
