$background-color1: rgba(15, 15, 15, 0.99);
.batTopHome {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.BatBottemHome {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.batArt {
  background-color: $background-color1;
  box-shadow: inset, $dark-shadow $dark-shadow;
  height: 40rem;
  width: 30rem;
  border-radius: $radius;
}
.batHead1 {
  text-align: center;
  color: white;
  font-family: Batman;
  margin-top: 1rem;
}
.BatMini1 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  border-bottom: white 3px solid;
}
.BatInfoHold1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 1rem;
  text-align: center;
  color: white;
}
.BatInfo1 {
  font-size: 1.2rem;
}
.break {
  background-color: white;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.iframe {
  width: 55rem;
  height: 30rem;
  border-radius: 0.75rem;
}
.batHead2 {
  position: relative;
  bottom: 6rem;
  background-color: $background-color1;
  height: 46rem;
  width: 53em;
  border-radius: 0.75rem;
}
.batIMG {
  margin-top: 4rem;
  height: 35rem;
  width: 25rem;
  border-radius: 0.75rem;
}
.BatAges {
  width: 96%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.BatAgeListHead1 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}
.BatAgeListHead2 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}
.BatAgeListHead3 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}
.BatAgeListHead4 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}
.BatAgeListHead1:hover {
  font-size: 1.3rem;
  font-weight: bold;
}
.BatAgeListHead2:hover {
  font-size: 1.3rem;
  font-weight: bold;
}
.BatAgeListHead3:hover {
  font-size: 1.3rem;
  font-weight: bold;
}
.BatAgeListHead4:hover {
  font-size: 1.3rem;
  font-weight: bold;
}
.BatFamListHead1 {
  color: white;
  text-align: center;
  margin-bottom: 0.3rem;
}
.BatCharList {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.BatlistCharacters {
  height: 100%;
  border: 3px white solid;
}
