.Navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: Batman;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.nav {
  font-weight: lighter;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  text-align: center;
  color: white;
  width: 80%;
  font-family: Batman;
  border-bottom: solid white 3px;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.link:hover {
  text-decoration: underline wavy rgb(197, 197, 197);
}
